@font-face {
  font-family: 'aubrey_proregular';
  src: url('../fonts/aubreypro-webfont.woff2') format('woff2'),
    url('../fonts/aubreypro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'doloman_pavljenkolight';
  src: url('../fonts/dolomanpavljenko-webfont.woff2') format('woff2'),
    url('../fonts/dolomanpavljenko-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f9f7f7;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
}

.contacts, 
.about,
.education,
.skills,
.work-experience,
.code,
.languages {
  margin-bottom: 20px;
}

.contacts__wrapper,
.about__wrapper,
.education__wrapper,
.skills__wrapper,
.work-experience__wrapper, 
.code__wrapper,
.languages__wrapper {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.contacts__title,
.about__title,
.education__title, 
.skills__title, 
.work-experience__title,
.code__title,
.languages__title {
  display: inline-block;
  margin-bottom: 0;
  padding: 7px 24px;
  border: 3px solid #0039a6;
  font-family: 'aubrey_proregular', sans-serif;
  font-size: 24px;
  color: #0039a6;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.contacts__title::after,
.about__title::after,
.education__title::after,
.skills__title::after,
.work-experience__title::after,
.code__title::after,
.languages__title::after {
  content: "";
  position: absolute;
  background-color: #0039a6;
  height: 3px;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

/**********HEADER**********/
.header {
  margin-top: 5px;
  margin-bottom: 20px;
}

.header__container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__link {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #356ad3;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__img {
  margin-right: 10px;
  width: 230px;
  height: 230px;
  border-radius: 20px;
}

.header__info {
  width: 1000px;
  text-align: center;
}

.header__title {
  font-size: 50px;
  text-shadow: 1px 1px white, 2px 2px #777;
}

.header__subtitle {
  font-size: 39px;
  text-shadow: 1px 1px white, 2px 2px #777;
}

/**********CONTACTS**********/
.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contacts__icon {
  display: inline-block;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;
  -ms-transition: -ms-transform .3s linear;
  -o-transition: -o-transform .3s linear;
  transition: transform .3s linear;
}

.contacts__text {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.contacts__text::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #356ad3;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;
  -ms-transition: -ms-transform .3s linear;
  -o-transition: -o-transform .3s linear;  
  transition: transform .3s linear;
}

.contacts__link:hover .contacts__icon {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.contacts__link:hover .contacts__text::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/**********ABOUT ME**********/
.about__text {
  font-size: 18px;
}

/**********EDUCATION**********/
.education__list {
  list-style: none;
}

.education__item {
  display: flex;
  margin-bottom: 20px;
}

.education__date {
  margin-top: 20px;
  width: 100px;
  font-size: 18px;
}

.education__name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  padding: 20px;
  width: 85%;
  border: 2px solid #00246c;
  text-align: center;
}

.education__name::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -100px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-color: #00246c;
  border-radius: 10px;
  z-index: 1;
}

.education__name::after {
  content: "";
  position: absolute;
  top: 27px;
  left: -85px;
  display: inline-block;
  width: 84px;
  height: 2px;
  background-color: #00246c;
  z-index: 1;
}

.education__link {
  margin-bottom: 10px;
  width: fit-content;
  font-family: 'doloman_pavljenkolight';
  font-size: 20px;
  font-weight: 700;
  color: #356ad3;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;
  -ms-transition: -ms-transform .3s linear;
  -o-transition: -o-transform .3s linear;
  transition: transform .3s linear;
}

.education__link:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.education__profession {
  font-size: 18px;
}

/**********SKILLS**********/
.skills__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills__item:not(:last-child) {
  margin-right: 10px;
}

.skills__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.skills__text {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

/**********WORK EXPERIENCE**********/
.work-experience__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  list-style: none;
}

.work-experience__item {
  display: flex;
  flex-direction: column;
  margin: 0 5px 10px;
  padding: 3px;
  border: 2px solid #00246C;
  border-radius: 5px;
  overflow: hidden;
}

.work-experience__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.work-experience__subtitle {
  font-size: 18px;
  color: #356AD3;
  text-transform: uppercase;
}

.work-experience__languages {
  display: flex;
}

.work-experience__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.work-experience__icon:not(:last-child) {
  margin-right: 2px;
}

.icon-html {
  background-image: url("img/html.png");
}

.work-experience__img {
  padding: 5px;
  width: 290px;
  -webkit-transition: -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  -ms-transition: -ms-transform 1s linear;
  -o-transition: -o-transform 1s linear;
  transition: transform .5s linear;  
}

.work-experience__img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/**********CODE EXAMPLE**********/
.code__content {
  display: flex;
  padding: 10px;
  border: 2px solid #00246C;
  border-radius: 10px;
}

.code__text {
  font-size: 18px;
}

/**********LANGUAGES**********/
.languages__list {
  list-style: none;
}

.languages__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.languages__img {
  margin-right: 10px;
  width: 60px;
}

.languages__text {
  font-size: 18px;
}